# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
dist/
*.egg-info/

# Environment Variables & Secrets
.env
.env.local

# Database / Exports
assets/Report_*.html
assets/Report_*.csv

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
